<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>받는 사람</th>
        <th>연락처</th>
        <th>우편번호</th>
        <th>동호수</th>
        <th>비밀번호</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="order : ${orders}">
        <td th:text="${order.orderDate}"></td>
        <td th:text="${order.name}"></td>
        <td th:text="${order.number}"></td>
        <td th:text="${order.zipcode}"></td>
        <td th:text="${order.dongho}"></td>
        <td th:text="${order.pw}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>